*.sh
.project
.pydevproject
.settings
*.pyc
test1.py
runs*
augment_shuffle_images
logs
build
.catkin_tools
devel
logs
install
result_screenshots
.idea
.ipy*
slurm*
*.slqurm
*.out
*.pth
.ipynb_checkpoints/*
ipython/test_img
*.pkl
ipython/*.png
test_images/*
